* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;

}
nav {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    min-height: 10vh;
    padding: 0 3rem;
    width: 100%;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out box-shadow;
}

.logo {
    transition: 200ms ease-in-out color,
}

.nav_links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1.2rem;
    font-size: 1.1rem;
    /* text-shadow: 0 0.3rem rgba(0, 0, 0, .6); */
}


.active_nav {
    background-color: #ffffff;
    box-shadow: 0 0 .9rem rgba(0, 0, 0, .6);
    z-index: 99;
}

.active_nav .nav_links a,
.active_nav .logo {
    color: rgb(0, 0, 0);

}

.nav_links :hover {
    /* background-color: aqua; */
    color: #ffc107;
}
.active_nav .nav_links a:hover {
    color: #ffc107;
}
.scroller {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.scrollicon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 50px;
    position: relative;
    margin: 20px;
}

.mouse::before {
    content: '';
    width: 3px;
    height: 6px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 15px;
    }
}

section {
    background-color: #f4f4f4;
    /* height: 100vh; */
}

.home {
    color: #fff;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 50% 5% 45%;
    grid-template-rows: 100vh;
    background: linear-gradient(45deg, #1a2d4f, #263859);
}

.myname,
.buttoncontainer,
.vcontainer,
.skillcontainer,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pul {
    list-style: none;
    padding: 10px;
}

.heading {
    padding: 10px 20px;
}

h1 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

h2 {
    padding: 20px 0 0 0;
    font-weight: 100;
}

h3 {
    color: #ffc107;
    font-weight: 500;
    font-size: 20px;
    font-weight: 600;
}

p,
h3 {
    letter-spacing: 1px;
    padding: 10px 0;
}

p {
    opacity: 0.8;
    font-size: 14px;
}

h6 {
    font-size: 13px;
    padding: 10px 0 0 0;
    font-weight: 500;
}

.myname {
    white-space: pre-line;
}

.myimg {
    height: 100vh;
    margin-top: 10vh;
}

.zaheerimg {
    height: 90vh;
    bottom: 0px;
}

.button1,
.button2,
.button3 {
    background-color: #ffc107;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 18px;
    border: rgb(0, 0, 0) 3px solid;
}

.button3 {
    margin: 20px;
}

.button2 {
    color: black;
    border: #fff solid 3px;
}

.button1:hover,
.button2:hover {
    background-color: #e6af08eb;
    transition: 0.5s ease;
    /* border: #212121ba 3px solid; */
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.aimg {
    opacity: 0.6;
}

.vcontainer {
    /* border: 4px solid red; */
    margin: 10px;
}

.vcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.vcard,
.pcard,
.forminput,
.skillcontainer {
    background-color: #fdfdfd;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    height: auto;
}

.skillcontainer {
    height: 70px;
    border-radius: 10px;

}

.vcard {
    max-width: 20rem;
}

.portimg {
    max-width: 100%;
}

.npcontainer {
    width: 200px;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.vimg {
    width: 80px;
}

.pcard {
    max-width: 23rem;
    display: flex;
    flex-direction: column;
}

.pli {
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    margin: 10px;
}

i {
    padding-right: 10px;
}

form {
    margin: 40px;
}

.forminput {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #000;
    color: #fff;
}

.fcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    padding: 20px;
}

.footerlink {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0 0 0;
    font-weight: 500;
    cursor: pointer;
}

.buttonimg {
    /* height: 20px; */
}

#p1 {
    display: flex;
}

.copybutton {
    margin: 0 0 0 10px;
    height: 20px;
    width: 20px;
    border: none;
    padding: 0px;
    background-image: url("/images/content_copy_white_24dp.svg");
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;

}

.footerlink:hover {
    color: #ffc107;
    transform: translateY(-10%);
    transition: 0.5s ease;
}

.copyright {
    grid-column: 1/6;
    margin: 50px 0;
}

.contactimg {
    margin: 50px;
    width: 90%;
    height: 90%;}
